<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlueMoon CRM Family</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="BlueMoon Appointments Scheduler App" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pricing" asp-action="Index">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Features" asp-action="Index">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Support">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Start of upper footer -->
    <div class="container border-top text-muted bg-light p-4 mw-100">
        <div class="row m-xl-1">
            <div class="col-md">
                <div class="badge-dark p-2">Contact Information</div>
                <ul class="p-4">
                    <li>name</li>
                    <li>contact information</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="badge-dark p-2">Useful Links</div>
                <ul class="p-4">
                    <li>name</li>
                    <li>contact information</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="badge-dark p-2">Privacy Information</div>
                <ul class="p-4">
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                    <li>contact information</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-md-8 offset-2 p-3">
                <div class="badge-info p-2 text-center">Get the latest updates from BlueMoonCRM</div>
                <br />
                <input class="form-control" placeholder="Enter your email:" />
                <div class="p-3">
                    <a class="btn btn-primary text-white w-50 col-md-8 offset-3">Subscribe</a>
                </div>
                <br />
                <div class="badge-danger text-center p-1">* We are responsible data handlers and never spam - BlueMoonCRM is GDPR Compliant</div>
            </div>
        </div>
    </div>
    <!--Lower end footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Appointment &amp; Scheduling Application - By <a href="https://212digital.co.uk">212 Digital</a> - Part of the <a href="https://bluemooncrm.com">BlueMoon CRM</a> Family
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
