@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div><img src="~/images/hero_img_home.png" /></div>
    <h3 class="text-capitalize m-4 text-black-50">BlueMoon Appointments Scheduling &amp; Calendar Management App</h3>
    <p class="text-black-50">Learn about <a href="https://docs.microsoft.com/aspnet/core">The Full CRM Solution Here</a>. Part of the BlueMoon Family</p>
    <hr />
    <div><img src="~/images/ASP-NET-Banners-01.png" /></div>
    <div><img src="~/images/ASP-NET-Banners-02.png" /></div>
    <div><img src="~/images/Banner-01-Azure.png" /></div>
    <div><img src="~/images/Banner-02-VS.png" /></div>
    <hr />
    <div class="m-4"><img src="~/images/mockup.png" /></div>
</div>
